:root {
  $background-tema-claro: #EFFFFD; 
  $background-tema-escuro: #132C33;
  $bg-header-tema-escuro: #126E82; 
  $bg-header-tema-claro: #42C2FF;
  $bg-bnt-header-tema-escuro: #51C4D3; 
  $bg-btn-header-tema-claro: #B8FFF9;
  $bg-cards-tema-claro: #85F4FF; 
  $bg-cards-tema-escuro: #126E82;
  $bg-cards-tags-tema-claro: #B8FFF9;
  $bg-cards-tags-tema-escuro: #51C4D3; 
}